<div class="main-wrapper">
    <app-nav />
    <main class="bg-dark text-white" >
        <h1>Edit User</h1>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
            <div class="duo">
                <div class="form-group">
                    <label for="">First Name :</label>
                    <input formControlName="firstname" type="text" name="firstname" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input formControlName="lastname" id="lastname" type="text" name="lastname" required>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="">email :</label>
                    <input formControlName="email" type="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="">age :</label>
                    <input formControlName="age" type="number" name="age" required>
                </div>
            </div>
            <div class="duo">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Rol :</label>
                    <select formControlName="rol" id="rol" class="form-control" class="form-control">
                        @for(rol of roles(); track rol._id ){
                        <option [value]="rol._id" [selected]="rol._id === userForm.get('rol')?.value">{{ rol.name }}
                        </option>
                        }
                    </select>
                </div>
            </div>
            <button routerLink="/users" type="button" class="cancel">Cancel</button>
            <button type="submit">Update</button>
        </form>
    </main>
</div>