<div class="main-wrapper">
    <app-nav />
    <main class="bg-dark">
        <h1>Edit product</h1>
        <form (ngSubmit)="onSubmit()" class="text-white">
            <div class="duo">
                <div class="form-group">
                    <label for="">First Name :</label>
                    <input type="text" [value]="user().firstname" name="firstname" required>
                </div>
                <div class="form-group">
                    <label for="">Last Name :</label>
                    <input type="text" [value]="user().lastname" name="lastname" required>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="">email :</label>
                    <input type="text" [value]="user().email" name="email" required>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="">age :</label>
                    <input type="number" [value]="user().age" name="age" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Rol :</label>
                    <select class="form-control" class="form-control">
                        @for(rol of roles(); track rol._id ){
                        <option [value]="rol.name" [selected]="isSelected(rol.name)">{{ rol.name }}</option>
                        }
                    </select>
                </div>
                </div>
            <button type="button" class="cancel">Cancel</button>
            <button type="submit">Update</button>
        </form>
    </main>
</div>
