<div class="main-wrapper">
    <app-nav />
    <main class="bg-dark">
        <header>
            <ul class="d-flex justify-content-between align-items-center">
                <li class="fs-2 user-select-none">Products</li>
                <li class="user-select-none">
                    <a routerLink="/products/create">Add Product
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </a>
                </li>

            </ul>
        </header>
        @if(videogames().length !== 0){
        @for(videogame of videogames(); track videogame._id){ <app-cards [id]="videogame._id" [name]="videogame.name"
            [price]="videogame.price" [cover]="videogame.cover" />}
        }
    </main>
</div>