<div class="main-wrapper">
    <app-nav />
    <main class="bg-dark text-white">
        <h1>Edit product</h1>
        <form [formGroup]="videogameForm" (ngSubmit)="onSubmit()">
            <div class="duo">
                <div class="form-group">
                    <label for="">Name :</label>
                    <input type="text" formControlName="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="">Price :</label>
                    <input type="number" formControlName="price" name="price" required>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">

                    <label for="">Cover :</label>
                    <input type="text" formControlName="cover" name="cover" required>
                </div>
                <div class="form-group">
                    <label for="">Images :</label>
                    <input type="text" formControlName="image" name="image" required>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Pegi :</label>
                    <select formControlName="pegi" id="pegi" class="form-control">
                        @for(pegi of pegis(); track pegi._id){
                        <option [value]="pegi._id" [selected]="pegi._id === videogameForm.get('pegi')?.value">
                            {{ pegi.name }}
                        </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Developer :</label>
                    <select formControlName="developer" id="developer" class="form-control">
                        @for(developer of developers(); track developer._id ){
                        <option [value]="developer._id"
                            [selected]="developer._id === videogameForm.get('developer')?.value">{{ developer.name
                            }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Gender :</label>
                    <select formControlName="gender" id="gender" class="form-control">
                        @for(gender of genders(); track gender._id ){
                        <option [value]="gender._id" [selected]="gender._id === videogameForm.get('gender')?.value">{{
                            gender.name }}
                        </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Theme :</label>
                    <select formControlName="theme" class="form-control">
                        @for(theme of themes(); track theme._id ){
                        <option [value]="theme._id" [selected]="theme._id === videogameForm.get('theme')?.value">{{
                            theme.name }}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Game mode :</label>
                    <select formControlName="gamemode" class="form-control">
                        @for(gamemode of gamemodes(); track gamemode._id ){
                        <option [value]="gamemode._id"
                            [selected]="gamemode._id === videogameForm.get('gamemode')?.value">{{ gamemode.name }}
                        </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Video Id :</label>
                    <input type="text" formControlName="videoId" id="videoId" required>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="">Description :</label>
                    <textarea formControlName="description" id="description" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="">System Requirements :</label>
                    <textarea formControlName="systemRequirements" id="systemRequirements" rows="4" required></textarea>
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Type Offer:</label>
                    <select formControlName="typeoffer" id="typeOffer" class="form-control">
                        @for(typeoffer of typeoffers(); track typeoffer._id ){
                        <option [value]="typeoffer._id"
                            [selected]="typeoffer._id === videogameForm.get('typeoffer')?.value">
                            {{
                            typeoffer.name
                            }}</option>
                        }
                    </select>
                </div>
            </div>
            <button routerLink="/products" type="button" class="cancel">Cancel</button>
            <button type="submit">Update</button>
        </form>
    </main>
</div>