<div class="main-wrapper">
    <div class="sidebar">
        <nav>
            <div>
                <a href="" class="logo">Logo</a>
                <ul>
                    <li><a href="">Products</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">Orders</a></li>
                </ul>
            </div>
            <button class="checkout">Logout</button>
        </nav>
    </div>
    <main>
        <h1>Edit product</h1>
        <form action="">
            <div class="duo">
                <div class="form-group">
                    <label for="" value="Default value 1">Input 1</label>
                    <input type="text" value="Default value 1">
                </div>
                <div class="form-group">
                    <label for="">Input 2</label>
                    <input type="text" value="Default value 2">
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="">Input 3</label>
                    <input type="text" value="Default value 3">
                </div>
                <div class="form-group">
                    <label for="">Input 4</label>
                    <input type="text" value="Default value 4">
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="">Input 5</label>
                    <input type="text" value="Default value 5">
                </div>
                <div class="form-group">
                    <label for="">Input 6</label>
                    <input type="text" value="Default value 6">
                </div>
            </div>
            <div class="duo">
                <div class="form-group">
                    <label for="">Input 7</label>
                    <input type="text" value="Default value 7">
                </div>
                <div class="form-group">
                    <label for="">Input 8</label>
                    <input type="text" value="Default value 8">
                </div>
            </div>
            <button type="button" class="cancel">Cancel</button>
            <button type="submit">Create</button>
        </form>
    </main>
</div>
