<div class="main-wrapper">
    <app-nav />
    <main class="bg-dark text-white">
      <h1>Edit Theme:</h1>
      <form [formGroup]="themeForm" (ngSubmit)="onSubmit()" class="text-white">
          <div class="form-group">
            <label for="name">Theme:</label>
            <input type="text" [value]="theme().name"  formControlName="name" required />
          </div>
          <div class="duo">
        <button routerLink="/categories" type="button" class="cancel">Cancel</button>
        <button type="submit" [disabled]="!themeForm.valid">Update</button>
        </div>
      </form>
    </main>
  </div>
