<div class="sidebar">
    <nav>
        <div class="wrapper">
            <div class="logo"><a routerLink="/products">CRAD</a></div>
            <input type="radio" name="slider" id="menu-btn">
            <input type="radio" name="slider" id="close-btn">
            <ul class="nav-links">
                <label for="close-btn" class="btn close-btn">
                    <span class="button-icon material-symbols-outlined">
                        close
                    </span>
                </label>
                <li><a routerLink="/products">Products</a></li>
                <li><a routerLink="/users">Users</a></li>
                <li>
                    <a routerLink="/categories">Categories </a>
                </li>
                <div class="search">
                    <form (ngSubmit)="onSubmit()">
                        <input type="text" id="search-bar" class="form-control" placeholder="Search Game"
                            aria-label="Game" aria-describedby="button-addon2" [(ngModel)]="name" name="name" required>
                    </form>
                </div>
            </ul>

            <div class=" container-button">

                <button (click)="logout()" class="button-icon navbar-toggler pe-0">
                    <span *ngIf="isLogged()" class="material-symbols-outlined">
                        logout
                    </span>
                </button>
                <button class="button-icon navbar-toggler pe-0" type="button">
                    <span *ngIf="!isLogged()" routerLink="/login" class="material-symbols-outlined">
                        person
                    </span>
                </button>
                <label for="menu-btn" class="btn menu-btn navbar-toggler pe-0">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </label>
            </div>
        </div>
    </nav>
</div>