<div class="main-wrapper">
  <app-nav />
  <main class="bg-dark text-white">
    <h1>New Videogame:</h1>
    <form [formGroup]="videogameForm" (submit)="onSubmit($event)">
      <div class="duo">
        <div class="form-group">
          <label for="">Name:</label>
          <input type="text" formControlName="name" />
        </div>
        <div class="form-group">
          <label for="">Price:</label>
          <input type="number" formControlName="price" />
        </div>
      </div>
      <div class="duo">
        <div class="form-group">
          <label for="">Cover:</label>
          <input type="text" formControlName="cover" />
        </div>
        <div class="form-group">
          <label for="">Images:</label>
          <input type="text" formControlName="image" />
        </div>
      </div>
      <div class="duo">
        <div class="form-group">
          <label for="">Video Id:</label>
          <input type="text" formControlName="videoId" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">gender</label>
          <select class="form-control" formControlName="gender">
            @for(gender of genders(); track gender._id ){
            <option [value]="gender._id">{{ gender.name }}</option>
            }
          </select>
        </div>
      </div>
      <div class="duo">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Theme:</label>
          <select class="form-control" formControlName="theme">
            @for(theme of themes(); track theme._id ){
            <option [value]="theme._id">{{ theme.name }}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Game Mode</label>
          <select class="form-control" formControlName="gamemode">
            @for(gamemode of gamemodes(); track gamemode._id ){
            <option [value]="gamemode._id">{{ gamemode.name }}</option>
            }
          </select>
        </div>
      </div>
      <div class="duo">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Pegi :</label>
          <select class="form-control" formControlName="pegi">
            @for(pegi of pegis(); track pegi._id ){
            <option [value]="pegi._id">{{ pegi.name }}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="">Description:</label>
          <input type="text" formControlName="description" />
        </div>
      </div>
      <div class="duo">
        <div class="form-group">
          <label for="">Requirements:</label>
          <input type="text" formControlName="systemRequirements" />
        </div>
        <div class="form-group">
          <label for="">Developer:</label>
          <select formControlName="developer" id="developer" class="form-control">
            @for(developer of developers(); track developer._id ){
            <option [value]="developer._id">{{
              developer.name
              }}</option>
            }
          </select>
        </div>
        <div>
          <label for="">Type Offer:</label>
          <select formControlName="typeoffer" id="developer" class="form-control">
            @for(typeoffer of typeoffers(); track typeoffer._id ){
            <option [value]="typeoffer._id">{{
              typeoffer.name
              }}</option>
            }
          </select>
        </div>
      </div>
      <button routerLink="/products" type="button" class="cancel">Cancel</button>
      <button type="submit">Create</button>
    </form>
  </main>
</div>