<div class="card-list bg-dark">
    <div class="card bg-dark">
        <div class="properties  text-light ">
            <img [src]="cover">
            <div class="property">
                <span class="title">Product name</span>
                <h2>{{name}}</h2>
            </div>
            <div class="property">
                <span class="title">Price</span>
                <h2>${{price}}</h2>
            </div>
        </div>
        <div class="actions">
            <button class="edit">Edit</button>
            <button class="delete">Delete</button>
        </div>
    </div>
</div>
